/* .homepage-container {
    width: 100%;
    display: flex;
    flex-direction: column;
} */

div.select-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #293845;
    font-size: 24px;
    line-height: 28.13px;
    margin: 30px auto;
}

.movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.movies .movie-poster {
    width: 145px;
    height: 209px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 10px 15px;
    background-color: #ffffff;
}

.movies .movie-poster:hover {
    filter: brightness(115%);
    cursor: pointer;
    border: 1px black;
    border-style: solid;
}

.movies .movie-poster img {
    width: 129px;
    height: 193px;
    object-fit: cover;
}